﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <title>Admin Law Firm</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/Sidebar.css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    @RenderSection("CustomStyles", required: false)

</head>
<body>
    <div class="Page">
        <div class="stateBar">
            <div class="sidebar">
                <div class="logo_content">
                    <div class="logo">
                        <div class="logo_name">
                            <a asp-controller="Home" asp-action="Index">
                                Thiên Y
                            </a>
                        </div>
                    </div>
                    <i class="bx bx-menu" id="btn"></i>
                </div>
                @*             <div class="src">
                <i class="bx bx-search-alt-2"></i>
                <input type="text" placeholder="Search....." />
                </div> *@
                <ul>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class="bx bx-home-alt-2"></i>
                            <span class="link_name">Dashboard</span>
                        </a>
                        <span class="tooltip">Dashboard</span>
                    </li>
                    <li>
                        <a asp-controller="Position" asp-action="Index">
                            <i class='bx bxs-edit'></i>
                            <span class="link_name">Position</span>
                        </a>
                        <span class="tooltip">Position</span>
                    </li>
                    <li>
                        <a asp-controller="Category" asp-action="Index">
                            <i class='bx bx-duplicate'></i>
                            <span class="link_name">Category</span>
                        </a>
                        <span class="tooltip">Category</span>
                    </li>
                    <li>
                        <a asp-controller="Lawyer" asp-action="Index">
                            <i class='bx bxs-user'></i>
                            <span class="link_name">Employees</span>
                        </a>
                        <span class="tooltip">Employees</span>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Accounts">
                            <i class='bx bxs-user-account'></i>
                            <span class="link_name">Accounts</span>
                        </a>
                        <span class="tooltip">Accounts</span>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="CustomerList">
                            <i class='bx bx-male-female'></i>
                            <span class="link_name">Customer</span>
                        </a>
                        <span class="tooltip">Customer</span>
                    </li>
                    <li>
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="logout-button">
                                <i class="bi bi-box-arrow-in-right"></i>
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mainBar">
            @RenderBody()
        </div>
    </div>
    <script src="/js/Sidebar.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/Admin.js"> </script>
    @RenderSection("scripts", required: false)
</body>
</html>
