﻿@model IEnumerable<DoAnWeb.Models.ApplicationUser>
@{
    ViewData["Title"] = "Accounts";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<style>
    .container {
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-top: 20px;
        background-color: #f9f9f9;
    }

    .src {
        position: relative;
        left: 200px;
        height: 40px;
        width: 350px;
        margin: 0 0 20px 0;
    }

        .src input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(100% - 50px);
            outline: none;
            border: none;
            background: #f8f3;
            padding-left: 50px;
            font-size: 15px;
            color: #000000;
            border-radius: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
        }

        .src .bx {
            line-height: 1.8;
        }


        .src i {
            height: 50px;
            min-width: 50px;
            text-align: center;
            border-radius: 12px;
            font-size: 25px;
        }

    .register-button i {
        font-size: 25px;
        margin-right: 10px;
    }

    .register-button {
        background-color: #007bff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .register-button:hover {
            background-color: #0056b3;
        }

    .table-responsive {
        overflow-x: auto;
    }

    th {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        text-align: left;
    }

    td {
        border: 1px solid #dee2e6;
        padding: 10px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

</style>
<div class="container">
    <div class="our-team">
        <h2 class="text-center">Accounts</h2>
        <div class="row mb-3">
            <div class="col-md-6">
                <button id="button-container" class="register-button" onclick="location.href='@Url.Page("/Account/Register", null, new { area = "Identity" })'">
                    <i class="bi bi-person-plus-fill"></i>
                    <span>Register</span>
                </button>
            </div>
            <div class="col-md-6">
                <form id="searchForm" class="src">
                    <i class="bx bx-search"></i>
                    <input type="text" id="searchTerm" placeholder="Search...">
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Employee Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@(user.employees != null ? user.employees.FullName : "N/A")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        const searchTermInput = document.getElementById('searchTerm');

        searchTermInput.addEventListener('input', function () {
            const searchTerm = searchTermInput.value.trim();
            const tableRows = document.querySelectorAll('.table-responsive table tbody tr');
            tableRows.forEach(function (row) {
                const rowData = row.textContent || row.innerText;
                if (rowData.toUpperCase().indexOf(searchTerm.toUpperCase()) > -1) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>
}
