﻿@model List<DoAnWeb.Models.Customer>
@{
    ViewData["Title"] = "CustomerList";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <h2 style=" font-size: 32px; margin-bottom: 15px; text-align:center">Customer List</h2>
        <div class="row mb-3">
            <div class="col-md-6 ">
                <form id="searchForm" class="src">
                    @* <label for="searchTerm">Tìm kiếm:</label> *@
                    <i class="bx bx-search-alt-2"></i>
                    <input type="text" id="searchTerm" placeholder="Nhập từ khóa...">
                </form>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Customer Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>@customer.customerName</td>
                            <td>@customer.email</td>
                            <td>@customer.phoneNumber</td>
                            <td>@customer.address</td>
                            <td>@customer.Notes</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<style>
    .container {
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
        margin-top: 20px;
        background-color: #f9f9f9;
        padding: 50px;
        border-radius: 10px;
    }

    .src {
        position: relative;
        
        height: 40px;
        width: 350px;
        margin: 20px 0;
    }

        .src input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(100% - 50px);
            outline: none;
            border: none;
            background: #f8f3;
            padding-left: 50px;
            font-size: 15px;
            color: #000000;
            border-radius: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
        }

        .src .bx {
            line-height: 1.8;
        }

    i {
        height: 50px;
        min-width: 50px;
        text-align: center;
        font-size: 25px;
        border-radius: 12px;
    }

    .src {
        position: relative;
        height: 40px;
        width: 350px;
        margin-top: 20px;
    }

        .src input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(100% - 50px);
            outline: none;
            border: none;
            background: #f8f3;
            padding-left: 50px;
            font-size: 15px;
            color: #000000;
            border-radius: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
        }

        .src .bx {
            line-height: 1.8;
        }

    i {
        height: 50px;
        min-width: 50px;
        text-align: center;
        font-size: 25px;
        border-radius: 12px;
    }

    table {
        width: 80%;
        border-collapse: collapse;
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }

    tbody tr:hover {
        background-color: #f2f2f2;
    }
</style>


<script>
    // Lấy thẻ input tìm kiếm
    const searchTermInput = document.getElementById('searchTerm');

    // Lắng nghe sự kiện input (thay đổi nội dung trong ô tìm kiếm)
    searchTermInput.addEventListener('input', function () {
        const searchTerm = searchTermInput.value.trim(); // Lấy giá trị từ ô tìm kiếm và loại bỏ khoảng trắng ở hai đầu
        const tableRows = document.querySelectorAll('.table-striped tbody tr'); // Lấy tất cả các hàng trong bảng
        tableRows.forEach(function (row) {
            const rowData = row.textContent || row.innerText; // Lấy nội dung của hàng
            if (rowData.toUpperCase().indexOf(searchTerm.toUpperCase()) > -1) {
                row.style.display = ''; // Nếu nội dung của hàng chứa từ khóa tìm kiếm, hiển thị hàng
            } else {
                row.style.display = 'none'; // Nếu không, ẩn hàng
            }
        });
    });
</script>
