﻿﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnWeb</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("CustomStyles", required: false)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header class="header">
        <div class="top-area">
            <div class="top-area-inner">
                <div class="widget-holder-left">
                    <p>Monday to Friday 9:00 – 18:30</p>

                    <a href="tel:+84833216274">Tel: (+84)23.456.7891</a>
                </div>
                <div class="widget-holder-right">
                    <a href="#" class="social-logo">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" class="social-logo">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#" class="social-logo">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <nav class="container">
            <div class="nav-links">
                <div class="search" id="searchButton">
                    <i class="bi bi-search" id="searchIcon"></i>
                    <input type="text" id="searchInput" placeholder="Search..." />
                    <button id="clearSearch">X</button>
                </div>

                <div class="menu-toggle">
                    <i class="bi bi-list"></i>
                    <ul class="dropdown-menu">
                        <li class="parent-menu"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="parent-menu">
                            <a class="menuTrigger">Pages</a>
                            <ul class="sub-menu" id="submenu2">
                                <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                                <li><a>Menu 2.3</a></li>
                                <li><a>Menu 2.4</a></li>
                            </ul>
                        </li>
                        <li> <a asp-area="" asp-controller="Home" asp-action="Lawyer">Personal</a></li>
                        <li><a href="#">Our Expertise</a></li>
                        <li><a href="#">Exams</a></li>
                        <li><a href="#">Forum</a></li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>

                <div class="nav-Link-left">
                    <ul class="main-menu">
                        <li class="parent-menu"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="parent-menu">
                            <a class="menuTrigger">Pages</i></a>
                            <ul class="sub-menu" id="submenu2">
                                <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                                <li><a>Menu 2.3</a></li>
                                <li><a>Menu 2.4</a></li>
                            </ul>
                        </li>
                        <li> <a asp-area="" asp-controller="Home" asp-action="Lawyer">Personal</a></li>
                        <h1><a asp-controller="Home" asp-action="Index">Thiên Y</a></h1>
                        <li><a href="#">Our Expertise</a></li>
                        <li><a href="#">Exams</a></li>
                        <li><a asp-area="" asp-controller="Forum" asp-action="Index">Forum</a></li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>

            </div>
        </nav>
    </header>



    @RenderBody()

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuTrigger = document.querySelector('.menuTrigger');
            const menuToggle = document.querySelector('.menu-toggle');

            menuTrigger.addEventListener('click', function () {
                menuToggle.classList.toggle('active');
            });
        });

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
