﻿﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle" style="color:white"></i>
            </a> 
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-header">Signed in as</li>
                <li class="dropdown-item">@UserManager.GetUserName(User)</li>
                <li>
                    <a class="dropdown-item" asp-controller="Home" asp-action="UserProfile">
                        <i class="bi bi-person-check"></i> User Profile
                    </a>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                            <i class="bi bi-gear me-2"></i> Admin Setting
                        </a>
                    </li>
                }
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-gear me-2"></i> Setting
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-bell-fill"></i> Notification
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>

    }
</ul>

<style>
    .navbar-nav {
        display: flex;
        align-items: center;
    }

    .nav-item.dropdown .dropdown-menu .dropdown-item.active,
    .nav-item.dropdown .dropdown-menu .dropdown-item:active {
        background-color: transparent !important;
    }

    .nav-item.dropdown .dropdown-menu .dropdown-item {
        color: #333; /* Default text color */
        transition: color 0.3s ease; /* Add smooth transition effect */
    }

        .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
            color: #555; /* Change text color on hover */
        }

    .nav-item {
        margin-right: 10px; /* Khoảng cách giữa các mục */
    }

    .nav-link {
        color: #fff !important;
        text-decoration: none; /* Loại bỏ gạch chân */
    }
</style>
