﻿@model DoAnWeb.Models.Post
<head>
    <meta charset="utf-8" />
    <title>Forum</title>
    <link rel="stylesheet" href="~/css/header1.css" />
    <link rel="stylesheet" href="~/css/﻿Forum.css" />
    <script>
        function previewImage(input) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var preview = document.getElementById('imagePreview');
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
</head>
<body>
    <div class="create-post-container">
        <h1 class="create-post-title">Create New Post</h1>

        @using (Html.BeginForm("CreatePost", "Forum", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <label for="title" class="create-post-label">Title:</label>
                <input type="text" id="title" name="Title" class="create-post-input" required />
            </div>
            <div>
                <label for="content" class="create-post-label">Content:</label>
                <textarea style="height: 150px; resize:vertical; " id="content" name="Content" class="create-post-input" required></textarea>
            </div>
            <div>
                <label for="image" class="create-post-label">Image:</label>
                <input type="file" id="image" name="Image" accept="image/*" onchange="previewImage(this)" class="create-post-input" />
            </div>
            <div>
                <img id="imagePreview" src="#" alt="Image Preview" class="create-post-image-preview" style="height:200px;  width:200px;"/>
            </div>
            <button type="submit" id="create-post-button">Create Post</button>
        }
    </div>
</body>
