﻿@model DoAnWeb.Models.Post

<head>
    <meta charset="utf-8" />
    <title>Forum</title>
    <link rel="stylesheet" href="~/css/header1.css" />
    <link rel="stylesheet" href="~/css/﻿Forum.css" />
</head>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>@Model.Title</h2>

            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Post Image" style="width: 300px; height: 300px;display: block; margin: auto;" />
            }
            <p>@Model.Content</p>
            <p class="post-info">Posted on: @Model.DateCreated.ToString("yyyy-MM-dd HH:mm")</p>
            @if (Model.employees != null)
            {
                <p class="post-info">Author: @Model.employees.FullName</p>
            }

            <!-- Form thêm comment mới -->
            <div class="add-comment-container">
                <form asp-action="AddComment" asp-controller="Forum" method="post">
                    <input type="hidden" name="PostId" value="@Model.PostId" />
                    <div>
                        <label for="Content">Content:</label>
                        <textarea id="Content" name="Content" required></textarea>
                    </div>
                    <button type="submit">Add Comment</button>
                </form>
            </div>

            <!-- Code hiển thị danh sách comments và phản hồi tại đây -->
            @if (Model.Comments != null && Model.Comments.Any())
            {
                <ul>
                    @foreach (var comment in Model.Comments)
                    {
                        <li>
                            <strong>@comment.Author:</strong>
                            @comment.Content
                            <br />
                            <span class="comment-date">Posted on: @comment.DateCreated.ToString("yyyy-MM-dd HH:mm")</span>
                            <!-- Nút Reply -->
                            <button onclick="toggleReplyForm('@comment.CommentId')">Reply</button>
                            <!-- Form reply -->
                            <div id="replyForm_@comment.CommentId" style="display: none;">
                                <form asp-action="ReplyComment" asp-controller="Forum" method="post">
                                    <input type="hidden" name="parentId" value="@comment.CommentId" />
                                    <textarea name="replyContent" placeholder="Your reply" required></textarea>
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                            <!-- Hiển thị các phản hồi cho mỗi bình luận -->
                            @if (comment.Replies != null && comment.Replies.Count > 0)
                            {
                                <ul>
                                    @foreach (var reply in comment.Replies)
                                    {
                                        <li>
                                            <strong>@reply.Author:</strong>
                                            @reply.Content
                                            <br />
                                            <span class="comment-date">Posted on: @reply.DateCreated.ToString("yyyy-MM-dd HH:mm")</span>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No comments found.</p>
            }


        </div>
    </div>
</div>

<script>
    function toggleReplyForm(commentId) {
        var formId = "replyForm_" + commentId;
        var replyForm = document.getElementById(formId);
        if (replyForm.style.display === "none") {
            replyForm.style.display = "block";
        } else {
            replyForm.style.display = "none";
        }
    }
</script>
