﻿@model List<DoAnWeb.Models.Post>
<head>
    <meta charset="utf-8" />
    <title>Lawyer Forum</title>
    <link rel="stylesheet" href="~/css/header1.css" />
    <link rel="stylesheet" href="~/css/﻿Forum.css" />
</head>
<body>
    <div>
        <h1>Lawyer Forum</h1>

        <form asp-action="Index" method="get">
            <div class="row mt-3 mb-3">
                <div class="col-md-4 offset-md-4">
                    <div class="input-group">
                        <input name="keyword" type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Button to create a new post -->
        <div>
            <a href="@Url.Action("CreatePost", "Forum")" class="btn btn-primary">Create New Post</a>
        </div>

        <!-- List of posts -->
        <div class="row content-container">
            <div class="col">
                <div class="table-container">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="post-title">Post</th>
                                <th class="post-content">Title</th>
                                <th class ="post-author">Author</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var post in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@post.ImageUrl" alt="Post Image" width="200" height="200" />
                                    </td>
                                    <td style=" width: 75%;"><a href="@Url.Action("DetailPost", "Forum", new { id = post.PostId })" style="font-size: 24px; color: brown; display: inline-block; width: 100%;">@post.Title </a></td>
                                    <td style=" font-weight: bold;  width: 40%;">
                                        <a style="display: inline-block;"> Author: @post.employees.FullName </a>
                                        <a style="display: inline-block;"> Ngày đăng: @post.DateCreated </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
