﻿@model DoAnWeb.Models.Position
@* @section CustomStyles {
    <link rel="stylesheet" href="~/css/header1.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

} *@
@{
    ViewData["Title"] = "Add Position";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<style>
    .container {
        width: 80%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 1.5rem;
        box-shadow: 0 0 10px rgba(0, 10, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 80%;
        margin: auto;
    }
</style>
<div class="container">
    <div class="card">

        <div class="card-header">
            <h2 class="mb-0">Add Position</h2>
        </div>
        <div class="card-body">
            <form asp-action="Add" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="positionName">Position Name</label>
                    <input type="text" asp-for="positionName" class="form-control" id="positionName" required>
                    <span asp-validation-for="positionName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="positionDescription">Description</label>
                    <textarea asp-for="positionDescription" class="form-control" id="positionDescription"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="positionSalary" class="control-label">Salary</label>
                    <input asp-for="positionSalary" class="form-control" />
                    <span asp-validation-for="positionSalary" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
        </div>

    </div>
</div>