﻿@model List<Position>
@{
    ViewData["Title"] = "Positions";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
@* @section CustomStyles {
    <link rel="stylesheet" href="~/css/header1.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

} *@
<div class="container mt-4">
    <h2 class="text-center">Positions</h2>
    <div class="row mb-3">
        <div class="col-md-6">
            <a asp-action="Add" class="add-button">Create New</a>
        </div>
        <div class="col-md-6">
            <form id="searchForm" class="src">
                <i class="bx bx-search"></i>
                <input type="text" id="searchTerm" placeholder="Search...">
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Position Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var position in Model)
                {
                    <tr>
                        <td>@position.positionName</td>
                        <td>@position.positionDescription</td>
                        <td>@position.positionSalary</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Position Actions">
                                <a asp-action="Update" asp-controller="Position" asp-route-id="@position.positionId">
                                    <button class="btn btn-primary btn-sm ">Update</button>
                                </a>
                                <form asp-action="Delete" asp-controller="Position" method="post" onsubmit="return confirm('Are you sure you want to delete this position?');">
                                    <input type="hidden" name="id" value="@position.positionId" />
                                    <button type="submit" class=" btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<style>
    .btn-group {
        display: flex;
        gap: 20px;
    }

    .container {
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-top: 20px;
        background-color: #f9f9f9;
    }

    .src {
        position: relative;
        left: 200px;
        height: 40px;
        width: 350px;
        margin: 0 0 20px 0;
    }

        .src input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(100% - 50px);
            outline: none;
            border: none;
            background: #f8f3;
            padding-left: 50px;
            font-size: 15px;
            color: #000000;
            border-radius: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
        }

        .src .bx {
            line-height: 1.8;
        }


        .src i {
            height: 50px;
            min-width: 50px;
            text-align: center;
            border-radius: 12px;
            font-size: 25px;
        }



    .add-button {
        background-color: #007bff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .add-button:hover {
            background-color: #0056b3;
        }

    .table-responsive {
        overflow-x: auto;
    }

    th {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        text-align: left;
    }

    td {
        border: 1px solid #dee2e6;
        padding: 10px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
</style>

<script>
    const searchTermInput = document.getElementById('searchTerm');
    searchTermInput.addEventListener('input', function () {
        const searchTerm = searchTermInput.value.trim();
        const tableRows = document.querySelectorAll('.table-striped tbody tr');
        tableRows.forEach(function (row) {
            const rowData = row.textContent || row.innerText;
            if (rowData.toUpperCase().indexOf(searchTerm.toUpperCase()) > -1) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>