﻿@model DoAnWeb.Models.Position
@* @section CustomStyles {
    <link rel="stylesheet" href="~/css/header1.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
} *@
@{
    ViewData["Title"] = "Edit Position";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<style>
    .container {
        width: 80%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 1.5rem;
        box-shadow: 0 0 10px rgba(0, 10, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 80%;
        margin: auto;
    }
</style>
<div class="container">
    <div class="card">
        <h2>Edit Position</h2>

        <form asp-action="Update" method="post">
            <input type="hidden" asp-for="positionId" />
            <div class="form-group">
                <label asp-for="positionName" class="control-label">Position Name</label>
                <input asp-for="positionName" class="form-control" />
                <span asp-validation-for="positionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="positionDescription" class="control-label">Description</label>
                <input asp-for="positionDescription" class="form-control" />
                <span asp-validation-for="positionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="positionSalary" class="control-label">Salary</label>
                <input asp-for="positionSalary" class="form-control" />
                <span asp-validation-for="positionSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>