﻿@model DoAnWeb.Models.Category
@{
    ViewData["Title"] = "Edit Category";
    Layout = "/Views/Admin/_LayoutAdmin.cshtml";
}
@* @section CustomStyles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
} *@
<style>
    .container {
        width: 80%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 1.5rem;
        box-shadow: 0 0 10px rgba(0, 10, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 80%;
        margin: auto;
    }

</style>
<div class="container mt-4">
    <div class="card ">
        <h2>Edit Category</h2>
        <form asp-action="Update" method="post">
            <input type="hidden" asp-for="categoryId" />
            <div class="form-group">
                <label asp-for="name" class="control-label">Name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Description</label>
                <textarea asp-for="description" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg me-2">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
