﻿@model DoAnWeb.Models.Employee
@* @section CustomStyles {
    <link rel="stylesheet" href="~/css/header1.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

} *@
@{
    ViewData["Title"] = "Add Lawyer";
    Layout = "/Views/Admin/_LayoutAdmin.cshtml";
}
<style>
    .container {
        width: 80%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 1.5rem;
        box-shadow: 0 0 10px rgba(0, 10, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 80%;
        margin: auto;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-header text-center py-4">
            <h2 class="mb-0">Add Lawyer</h2>
        </div>
        <div class="card-body">
            <form asp-action="Add" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fullName">Full Name:</label>
                    <input type="text" id="fullName" name="fullName" class="form-control" required maxlength="50">
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth:</label>
                    <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" required maxlength="10">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required maxlength="50">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" class="form-control">
                </div>
                <div class="form-group">
                    <label for="expertise">Expertise:</label>
                    <input type="text" id="expertise" name="expertise" class="form-control" required maxlength="50">
                </div>
                <div class="form-group">
                    <label for="position">Position:</label>
                    <select asp-for="positionId" asp-items="@ViewBag.Positions" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select asp-for="categoryId" asp-items="@ViewBag.categories" class="form-control"></select>
                </div>
                <div class="form-group">
                    <div class="form-group mb-4">
                        <label for="imageInput" class="form-label">Image</label>
                        <input type="file" id="imageInput" name="image" class="form-control">
                    </div>
                    <!-- Image Preview -->
                    <img id="imagePreview" src="#" alt="Image Preview" style="width:200px; height:200px;">
                </div>
                <div class="form-group">
                    <label for="commencementDate">Commencement Date:</label>
                    <input type="date" id="commencementDate" name="commencementDate" class="form-control">
                </div>
                <div class="form-group">
                    <label for="academicQualification">Academic Qualification:</label>
                    <input type="text" id="academicQualification" name="academicQualification" class="form-control" required maxlength="50">
                </div>
                <div class="form-group">
                    <label for="facebookURL">Facebook URL:</label>
                    <input type="url" id="facebookURL" name="facebookURL" class="form-control">
                </div>
                <div class="form-group">
                    <label for="instagramURL">Instagram URL:</label>
                    <input type="url" id="instagramURL" name="instagramURL" class="form-control">
                </div>
                <div class="form-group">
                    <label for="twitterURL">Twitter URL:</label>
                    <input type="url" id="twitterURL" name="twitterURL" class="form-control">
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg px-5" style="width: 200px;">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    document.getElementById('imageInput').addEventListener('change', function () {
        var file = this.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById('imagePreview').src = e.target.result;
        };

        reader.readAsDataURL(file);
    });
</script>


