﻿@model List<Employee>
@section CustomStyles {
    @* <link href="~/css/LawyerAdmin.css" rel="stylesheet" /> *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
}

@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<style>
    .container {
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-top: 20px;
        background-color: #f9f9f9;
    }

    .src {
        position: relative;
        left: 200px;
        height: 40px;
        width: 350px;
        margin: 0 0 20px 0;
    }

        .src input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(100% - 50px);
            outline: none;
            border: none;
            background: #f8f3;
            padding-left: 50px;
            font-size: 15px;
            color: #000000;
            border-radius: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
        }

        .src .bx {
            line-height: 1.8;
        }


        .src i {
            height: 50px;
            min-width: 50px;
            text-align: center;
            border-radius: 12px;
            font-size: 25px;
        }

    .add-button {
        background-color: #007bff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .add-button:hover {
            background-color: #0056b3;
        }

    .table-responsive {
        overflow-x: auto;
    }

    th {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        text-align: left;
    }

    td {
        border: 1px solid #dee2e6;
        padding: 10px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .btn-group{
        display:flex;
        gap:20px;
    }
</style>
<div class="container">
    <div class="our-team">
        <h2 class="text-center">Thông tin nhân viên</h2>
        <div class="row mb-3">
            <div class="col-md-6">
                <a asp-action="Add" asp-controller="Lawyer" asp-route-id="lawyer.EmployeeId" class="add-button">Thêm luật sư</a>
            </div>
            <div class="col-md-6">
                <form id="searchForm" class="src">
                    @* <label for="searchTerm">Tìm kiếm:</label> *@
                    <i class="bx bx-search-alt-2"></i>
                    <input type="text" id="searchTerm" placeholder="Nhập từ khóa...">
                </form>
            </div>
        </div>
        <div class="table-responsive lawyers-container">
            @if (Model != null && Model.Any())
            {
                <table id="lawyersTable" class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Họ và Tên</th>
                            <th>Chuyên môn</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Ảnh</th>
                            <th>Ngày bắt đầu</th>
                            <th>Bằng cấp</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lawyer in Model)
                        {
                            <tr>
                                <td>@lawyer.FullName</td>
                                <td>@lawyer.Expertise</td>
                                <td><a href="tel:@lawyer.PhoneNumber">@lawyer.PhoneNumber</a></td>
                                <td><a href="mailto:@lawyer.Email">@lawyer.Email</a></td>
                                <td>@lawyer.Address</td>
                                <td><img src="@lawyer.ImageUrl" alt="Ảnh luật sư" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" /></td>
                                <td>@lawyer.commencementDate</td>
                                <td>@lawyer.academicQualification</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <form class="d-flex" asp-action="Update" asp-controller="Lawyer" asp-route-id="@lawyer.employeeId" method="get"> 
                                            <button type="submit" class="btn btn-primary btn-sm me-1">Cập nhật</button>
                                        </form>
                                        <form class="d-flex" asp-action="Delete" asp-controller="Lawyer" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa nhân viên này không?');">
                                            <input type="hidden" name="id" value="@lawyer.employeeId" />
                                            <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="no-lawyers">Không tìm thấy luật sư.</p>
            }
        </div>
    </div>
</div>

@section scripts {

    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchTerm");
            filter = input.value.toUpperCase();
            table = document.getElementById("lawyersTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break; // Nếu tìm thấy, hiển thị dòng và thoát khỏi vòng lặp
                        } else {
                            tr[i].style.display = "none"; // Nếu không tìm thấy, ẩn dòng
                        }
                    }
                }
            }
        }

        // Lắng nghe sự kiện khi người dùng nhập vào ô tìm kiếm
        document.getElementById("searchTerm").addEventListener("keyup", function () {
            searchTable();
        });
    </script>
}
