﻿@model DoAnWeb.Models.Employee
 @section CustomStyles {
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link href="~/css/bootstrap.css" rel="stylesheet" />
} 
@{
    ViewData["Title"] = "Edit Lawyer";
    Layout = "/Views/Admin/_LayoutAdmin.cshtml";

}
<style>
    .container {
        width: 80%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 1.5rem;
        box-shadow: 0 0 10px rgba(0, 10, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 80%;
        margin: auto;
    }

</style>
<div class="container">
    <div class="card ">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Edit Lawyer</h3>
        </div>
        <div class="card-body">
            <form asp-action="Update" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="employeeId" />

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input type="text" id="fullName" asp-for="FullName" class="form-control" required maxlength="50">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <input type="date" id="dateOfBirth" asp-for="DateOfBirth" class="form-control">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="tel" id="phoneNumber" asp-for="PhoneNumber" class="form-control" required maxlength="10">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" asp-for="Email" class="form-control" required maxlength="50">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" id="address" asp-for="Address" class="form-control">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="expertise" class="form-label">Expertise</label>
                            <input type="text" id="expertise" asp-for="Expertise" class="form-control" required maxlength="50">
                            <span asp-validation-for="Expertise" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="positionId" class="form-label">Position</label>
                            <select id="positionId" asp-for="positionId" asp-items="@ViewBag.Positions" class="form-select">
                                <option value="">Select Position</option>
                            </select>
                            <span asp-validation-for="positionId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="categoryId" class="form-label">Category</label>
                            <select id="categoryId" asp-for="categoryId" asp-items="@ViewBag.Categories" class="form-select">
                                <option value="">Select Category</option>
                            </select>
                            <span asp-validation-for="categoryId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="commencementDate" class="form-label">Commencement Date</label>
                            <input type="date" id="commencementDate" asp-for="commencementDate" name="commencementDate" class="form-control">
                            <span asp-validation-for="commencementDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="facebookURL" class="form-label">Facebook URL</label>
                            <input type="url" id="facebookURL" name="facebookURL" class="form-control" value="@Model.facebookURL">
                        </div>

                        <div class="form-group">
                            <label for="instagramURL" class="form-label">Instagram URL</label>
                            <input type="url" id="instagramURL" name="instagramURL" class="form-control" value="@Model.instagramURL">
                        </div>

                        <div class="form-group">
                            <label for="twitterURL" class="form-label">Twitter URL</label>
                            <input type="url" id="twitterURL" name="twitterURL" class="form-control" value="@Model.twitterURL">
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="imageInput" class="form-label">Image</label>
                            <input type="file" id="imageInput" name="image" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="imagePreview" class="form-label">Image Preview</label><br>
                            <img id="imagePreview" src="@Model.ImageUrl" alt="Image Preview" style="width:200px;height:200px">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary btn-lg me-2">Save</button>
                    
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    document.getElementById('imageInput').addEventListener('change', function () {
        var file = this.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById('imagePreview').src = e.target.result;
            document.getElementById('imagePreview').style.display = 'block';
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            // Nếu không có tệp được chọn, hiển thị hình ảnh hiện tại của nhân viên
            document.getElementById('imagePreview').src = '@Model.ImageUrl';
            document.getElementById('imagePreview').style.display = 'block';
        }
    });
</script>

