﻿@model DoAnWeb.Models.Employee


@section CustomStyles {
    <link rel="stylesheet" href="~/css/header1.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}
<style>
    .circular-container {
        width: 200px;
        height: 200px;
        margin: auto;
    }

        .circular-container img {
            border-radius: 50%;
        }
</style>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <div class="circular-container">
                        <img id="imagePreview" src="@Model.ImageUrl" alt="Image Profile" class="img-fluid ">
                    </div>
                    <h1 class="card-title mb-4">@Model.FullName</h1>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <span style="font-size: 24px;">Social</span>
                                <div class="input-group justify-content-center">
                                    <div class="input-group-prepend" style="margin-right: 20px;">
                                        <a href="@Model.facebookURL" class="btn btn-primary" target="_blank">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="input-group-prepend" style="margin-right: 20px;">
                                        <a href="@Model.twitterURL" class="btn btn-info" target="_blank">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="input-group-prepend" style="margin-right: 20px;">
                                        <a href="@Model.instagramURL" class="btn btn-danger" target="_blank">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-info text-white text-center">
                    <h5 class="card-title mb-0">Edit Profile</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="company" class="form-label">Company</label>
                                    <input type="text" class="form-control" id="company" placeholder="Company" value="Thiên Y" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="fullName" class="form-label">Full Name</label>
                                    <input type="text" id="fullName" asp-for="FullName" class="form-control" required maxlength="50">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <input type="date" id="dateOfBirth" asp-for="DateOfBirth" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="phoneNumber" class="form-label">Phone Number</label>
                                    <input type="tel" id="phoneNumber" asp-for="PhoneNumber" class="form-control" required maxlength="10">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" id="email" asp-for="Email" class="form-control" required maxlength="50">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" id="address" asp-for="Address" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="expertise" class="form-label">Expertise</label>
                                    <input type="text" id="expertise" asp-for="Expertise" class="form-control" required maxlength="50">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="commencementDate" class="form-label">Commencement Date</label>
                                    <input type="date" id="commencementDate" asp-for="commencementDate" name="commencementDate" class="form-control">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="facebookURL" class="form-label">Facebook URL</label>
                                    <input type="url" id="facebookURL" name="facebookURL" class="form-control" value="@Model.facebookURL">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group mb-4">
                                    <label for="instagramURL" class="form-label">Instagram URL</label>
                                    <input type="url" id="instagramURL" name="instagramURL" class="form-control" value="@Model.instagramURL">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="twitterURL" class="form-label">Twitter URL</label>
                                    <input type="url" id="twitterURL" name="twitterURL" class="form-control" value="@Model.twitterURL">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="imageInput" class="form-label">Image</label>
                            <input type="file" id="imageInput" name="image" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info mr-2">Update Profile</button>
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('imageInput').addEventListener('change', function () {
        var file = this.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById('imagePreview').src = e.target.result;
            document.getElementById('imagePreview').style.display = 'block';
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            // Nếu không có tệp được chọn, hiển thị hình ảnh hiện tại của nhân viên
            document.getElementById('imagePreview').src = '@Model.ImageUrl';
            document.getElementById('imagePreview').style.display = 'block';
        }
    });
</script>