﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
@section CustomStyles {
    <link href="~/css/header1.css" rel="stylesheet" />
}
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
