﻿@page
@model LoginModel

@section CustomStyles {
     <link href="~/css/StyleLogin.css" rel="stylesheet" /> 
    <link href="~/css/header1.css" rel="stylesheet" />
}
<div class="login-wrapper">
    <div class="login">
        <h2>Login</h2>
        <form asp-page-handler="Login" asp-page-handler-method="Post" method="post" id="account">
            <div class="input-box">
                <span class="icon"><i class="bi bi-person-circle"></i></span>
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Enter your email">
                <label asp-for="Input.Email" class="input-label">User Name</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <span class="icon"><i class="bi bi-lock-fill"></i></span>
                <input asp-for="Input.Password" class="form-control" type="password" aria-required="true" placeholder="Enter your password">
                <label asp-for="Input.Password" class="input-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="Input.RememberMe" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>
            <button id="login-submit" type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
    </div>
</div>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
