﻿@page
@model RegisterModel
@{
    Layout = "/Views/Admin/_LayoutAdmin.cshtml";
}

@section CustomStyles {
    <link href="~/css/StyleRegiter.css" rel="stylesheet" />
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">REGISTER</h2>
        </div>
        <div class="card-body">
            <form id="register" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="needs-validation" novalidate>
                <div class="form-group row">
                    <label for="employeeIdSelect" class="col-md-4 col-form-label text-md-right">Select Employee</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="employeeIdSelect" class="form-label"></label>
                            <select id="employeeIdSelect" asp-for="Input.EmployeeId" class="form-select" required>
                                <option value="">-- Select Employee --</option>
                                @if (ViewData["Employees"] != null)
                                {
                                    foreach (var employeeItem in (List<SelectListItem>)ViewData["Employees"])
                                    {
                                        <option value="@employeeItem.Value">@employeeItem.Value</option>
                                    }
                                }
                            </select>

                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="employeeNameInput" class="col-md-4 col-form-label text-md-right">Employee Name:</label>
                    <div class="col-md-6">
                        <input id="employeeNameInput" name="EmployeeName" disabled class="form-control" />
                    </div>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" required />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" required />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="inputRole">Role</label>
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control" required>
                        <option value="">-- Select Role --</option>
                    </select>
                </div>

                <div class="form-group">
                    <button id="registerSubmit" type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('employeeIdSelect').addEventListener('change', function () {
            var selectedEmployeeId = this.value;
            var employees = @Html.Raw(Json.Serialize(ViewData["Employees"]));
            var selectedEmployee = employees.find(function (employee) {
                return employee.value == selectedEmployeeId;
            });
            var employeeNameLabel = document.getElementById('employeeNameInput');
            if (selectedEmployeeId !== '') {
                if (selectedEmployee) {
                    employeeNameLabel.value = selectedEmployee.text;
                } else {
                    employeeNameLabel.value = 'Employee';
                }
            } else {
                employeeNameLabel.value = '';
            }
        });
    </script>
}
