﻿
/* Thiết lập breadcrumb */
.breadcrumb-area {
    background: rgba(0, 0, 0, 0) url("../Images/breadcrumb-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

    .breadcrumb-area::before {
        background: #000000;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
    }

.breadcrumb-text {
    padding-bottom: 93px;
    padding-top: 199px;
}

    .breadcrumb-text h1 {
        color: #fff;
        font-size: 45px;
        font-style: italic;
        text-transform: capitalize;
        font-family: "PT Serif", sans-serif;
        display: inline-block;
    }

    .breadcrumb-text ul.breadcrumbs {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        padding-top: 10%;
    }

        .breadcrumb-text ul.breadcrumbs li {
            float: none;
            display: inline-block;
        }

            .breadcrumb-text ul.breadcrumbs li a {
                font-size: 14px;
                color: #ffffff;
                font-style: italic;
                font-family: "PT Serif", sans-serif;
            }

            .breadcrumb-text ul.breadcrumbs li i {
                color: #fff;
                padding-left: 12px;
                padding-right: 5px;
                font-style: italic;
            }

/* Thiết lập mission-vision area */
#mission-vision-area {
    padding: 100px 0;
}

.mission-vision-text {
    padding-left: 40px;
}

.mission-vision-signature {
    margin-top: 35px;
}

.mission-vision-right-img {
    padding-top: 65px;
}

/* Thiết lập featured item */
.single-featured-item .featured-text h4 {
    color: #3e3e3e;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 38px;
    text-transform: uppercase;
}

.single-featured-item .featured-text p {
    font-family: "Open Sans", sans-serif;
}

.single-featured-item:hover .featured-icon i {
    background: #C6A561;
    color: #fff;
}

.single-featured-item:hover .featured-text h4 {
    color: #b89b5e;
}

#featured-services-area-3 {
    background: #ffffff;
    padding-bottom: 100px;
    padding-top: 95px;
}

.attorney-overlay .phone-and-mail {
    color: #ffffff;
    display: block;
    font-family: "Open Sans", sans-serif;
    margin-top: 72%;
    text-align: center;
}

.phone-and-mail p {
    margin: 0 0 4px;
}

/* Thiết lập our attorneys area */
#our-attorneys-area {
    background: #f0f0f1;
    padding-bottom: 94px;
    padding-top: 95px;
}

.attorney-image-holder {
    position: relative;
    overflow: hidden;
}

    .attorney-image-holder img {
        width: 100%;
    }

.attorney-plus-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.single-attorney:hover .attorney-overlay {
    opacity: 1;
}

.attorney-overlay {
    background: rgba(59, 57, 70, 0.90);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
}

    .attorney-overlay .social-links {
        text-align: center;
        display: block;
        margin-top: 220px;
    }

.social-links i.mysocial_style {
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    margin: 0 2px;
    padding-bottom: 0;
    padding-left: 0px;
    padding-top: 9px;
    width: 30px;
}

    .social-links i.mysocial_style:hover {
        background: #ff4140;
        border: 1px solid #403859;
    }

.attorney-ninus-icon {
    bottom: 0;
    position: absolute;
    right: 0;
}

.attorney-name {
    background: #F0F0F0;
    padding-bottom: 12px;
    padding-top: 17px;
    transition: all .5s ease;
}

.single-attorney:hover .attorney-name {
    background: #B89B5E;
}

    .single-attorney:hover .attorney-name h5 {
        color: #fff;
    }

    .single-attorney:hover .attorney-name p {
        color: #fff;
    }

.attorney-name h5 {
    color: #3b3946;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}

.attorney-name p {
    color: #3b3946;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    margin: 0;
    text-transform: uppercase;
    margin-top: 2px;
    transition: all .5s ease;
}

.single-attorney:hover .attorney-image-holder .attorney-plus-icon {
    display: none;
}

.single-attorney:hover .attorney-image-holder .attorney-overlay {
    display: block;
}

/* Thiết lập lawyer information area */
.lawyer-info {
    padding-top: 100px;
    padding-bottom: 10px;
}

.single-lawyer-info {
    border-right: 1px solid #cccccc;
}

    .single-lawyer-info.no-norder {
        border-right: medium none;
    }

.lawyer-count h1 {
    color: #4b3854;
    font-family: "PT Serif", sans-serif;
    font-size: 65px;
    font-weight: 700;
    padding-left: 22px;
    padding-top: 11px;
}

.lawyer-text p {
    font-family: "Open Sans", sans-serif;
    color: #b89b5e;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.lawyer-count h1::before {
    background: #4b3854;
    content: "";
    height: 5px;
    left: 40px;
    position: absolute;
    top: 0;
    width: 32px;
}

.lawyer-text {
    padding-left: 10px;
    padding-top: 30px;
}


#case-evaluation-area {
    overflow: hidden;
    background: url('../Images/case-evaluation-area-bg (1).jpg') no-repeat;
    background-position: left;
    background-size: cover;
}

.case-evaluation-form {
    padding-bottom: 64px;
    padding-top: 70px;
    padding-right: 70px;
}

.case-evaluation-form-title h1 {
    background: rgba(0, 0, 0, 0) url("../Images/case-form-title-bg.png") no-repeat scroll left top;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 34px;
    padding-left: 53px;
    padding-top: 5px;
    text-transform: uppercase;
}

.case-evaluation-form input[type="text"] {
    color: #aba9a9;
    height: 42px;
    margin-bottom: 15px;
    padding: 0 20px;
    width: 100%;
}

.case-evaluation-form textarea {
    height: 121px;
    padding: 10px 20px 0;
    width: 100%;
    color: #8d8d8d;
}

.case-evaluation-form button[type="submit"] {
    background: #b89b5e;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    padding: 9px 21px;
    text-transform: uppercase;
}

    .case-evaluation-form button[type="submit"]:hover {
        background: #3B3946;
        border: 1px solid #fff;
    }

.case-evaluation-form input[type="text"]:focus {
    border: 1px solid #b89b5e;
}

.case-evaluation-form textarea:focus {
    border: 1px solid #b89b5e;
}

.case-evaluation-image img {
    float: left;
    max-width: none;
}

.case-evaluation-image {
    position: relative;
}

    .case-evaluation-image:before {
        content: '';
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 200%;
        background: #B89B5E;
        display: block;
        opacity: .65;
        transition: all .3s ease;
        z-index: 999;
    }

    .case-evaluation-image:hover:before {
        left: 0;
    }
button {
    border: none; /* Loại bỏ viền */
    border-radius: 10px; /* Độ cong của góc */
    background-color: #007bff; /* Màu nền */
    color: #fff; /* Màu chữ */
    padding: 10px 20px; /* Kích thước nút */
    cursor: pointer; /* Con trỏ chuột thành dấu nhấp chuột */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    float: right;
}

    button:hover {
        background-color: #0056b3; /* Màu nền khi hover */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng khi hover */
    }
