﻿/*header*/
header {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
}
.header i {
    color: white;
}
    header .top-area {
        padding: 5px;
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #ccc;
    }

        header .top-area .top-area-inner {
            display: flex;
            flex-flow: nowrap;
            width: 100%;
            height: 20px;
            color: #F5F5F5;
            /*position: relative;*/
            justify-content: space-between;
            background-color: transparent;
            z-index: 99;
        }

            header .top-area .top-area-inner .widget-holder-left a,
            header .top-area .top-area-inner .widget-holder-right a {
                color: #F5F5F5;
            }

                header .top-area .top-area-inner .widget-holder-left a:hover,
                header .top-area .top-area-inner .widget-holder-right a:hover {
                    color: #0066FF;
                }

            header .top-area .top-area-inner .widget-holder-left {
                display: flex;
                margin-left: 20px;
                width: 70%;
                gap: 20px;
            }

            header .top-area .top-area-inner .widget-holder-right {
                display: flex;
                margin-right: 20px;
                width: 30%;
                justify-content: flex-end;
                gap: 20px;
            }



.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

.search {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: width 0.3s, height 0.3s;
    cursor: pointer;
    margin-right: 120px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
}

    .search input {
        display: none;
        width: 0;
        overflow: hidden;
        background: transparent;
        transition: width 0.3s ease, padding 0.3s ease;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
        font-size: 16px;
    }

#clearSearch {
    display: none;
    overflow: hidden;
    font-size: 24px;
    font-weight: 100;
    background: transparent;
    border: none;
    cursor: pointer;
}

#searchIcon {
    font-size: 20px;
    color: #F5F5F5;
    transition: font-size 0.3s;
}

.search.active {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #f0f0f0;
    z-index: 1000;
}

    .search.active input {
        display: block;
        width: 85%;
        padding: 5px 10px;
    }

    .search.active #clearSearch {
        display: block;
    }

.nav-Link-left {
    display: flex;
}

    .nav-Link-left h1 {
        font-size: 38px;
        width: 122px;
        margin: 20px;
    }

.main-menu {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F8F8FF;
    padding: 0;
}

    .main-menu li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 30px;
        cursor: pointer;
    }

    .main-menu h1 a {
        color: #F8F8FF;
    }

    .main-menu li a {
        color: #F8F8FF;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
    }

    .main-menu li:hover .sub-menu {
        display: block;
    }

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    color: black;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

    .sub-menu li {
        margin-bottom: 5px;
    }

        .sub-menu li a {
            text-decoration: none;
            color: black;
        }

.nav-link-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-btn {
    display: flex;
    margin-right: 5%;
    font-size: 24px;
    position: relative;
}
    /* login button */
    .group-btn .btnLogin {
        width: 80px;
        text-align: center;
        color: #F8F8FF;
        border: 2px solid #ccc;
        background: transparent;
        outline: none;
        border-radius: 10px;
        margin: 0 20px;
        padding: 0 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        transition: 0.5s;
    }

        .group-btn .btnLogin:hover {
            background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
            border: 1px solid #f44336;
        }

    .group-btn .menu {
        cursor: pointer;
    }


.menu-toggle {
    display: none;
}


.dropdown i {
    color: black;
}

@media (max-width: 1000px) {

    .menu-toggle {
        margin-top:20px;
        display: block;
    }
        .menu-toggle i {
            color: #AB82FF;
        }
    .search {
        display: none;
        visibility: hidden;
    }
    .main-menu {
        display: none;
        visibility: hidden;
    }

    .menu-toggle {
        position: absolute;
        font-size: 40px;
        display: flex;
        right: 20px;
        top: 20px;
    }

        .menu-toggle:hover .dropdown-menu {
            display: block;
        }

    .dropdown-menu {
        text-align: center;
        display: none;
        position: absolute;
        top: 100%;
        color: black;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 24px;
        right: 20px;
        left: auto;
    }

        .dropdown-menu li:hover {
            opacity: 0.8;
            border: 1px solid black;
            border-radius: 10px;
            background: #ccc;
        }

        .dropdown-menu li a {
            color: black;
            text-decoration: none;
        }

        .dropdown-menu .parent-menu {
            position: relative;
        }


        .dropdown-menu .sub-menu {
            display: none;
            position: relative;
            border-radius: 10px;
            background-color: #F5FFFA;
            padding: 5px 0;
            border: 1px solid #ccc;
            width: 100%;
        }


        .dropdown-menu .parent-menu:hover .sub-menu {
            display: block;
        }


        .dropdown-menu .sub-menu li {
            margin: 0;
        }

            .dropdown-menu .sub-menu li:hover {
                background-color: #f0f0f0;
            }

    .dropdown-item {
        border-radius: 10px;
    }
}
