﻿*{
    margin:0;
    padding:0;
}﻿
header {
    width: 100%;
    display: flex;
    z-index: 99;
}
.header {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
}
.header i{
    color:white;
}
header .top-area {
    display: none;
    visibility: hidden;
}

header .container {
    position: relative;
    width: 100%;
   /* background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));*/
}

    header .container .nav-links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1500px;
    }

        header .container .nav-links .search {
            display: none;
            visibility: hidden;
        }

        header .container .nav-links .nav-Link-left {
            flex-basis: 90%;
        }


.main-menu {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    position: relative;
    color:white;
}

    .main-menu h1 {
        position: absolute;
        left: 0;
        margin: 0;
    }


    .main-menu li {
        display: flex;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
    }

        .main-menu li a {
            color: white;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }

        .main-menu li:hover .sub-menu {
            display: block;
        }

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));  
    padding: 10px;
    border: 1px solid #ccc;
    color:white;
    z-index: 1000;
}

    .sub-menu li {
        margin-bottom: 5px;
    }

        .sub-menu li a {
            text-decoration: none;
            color: white;
        }

.nav-link-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-btn {
    display: flex;
    margin-right: 5%;
    font-size: 24px;
    position: relative;
}
    /* login button */
    .group-btn .btnLogin {
        width: 80px;
        height: 30px;
        border: 2px solid #ccc;
        background: transparent;
        outline: none;
        border-radius: 10px;
        margin: 0 20px;
        padding: 0 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        transition: 0.5s;
    }

        .group-btn .btnLogin:hover {
            background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
            border: 1px solid #f44336;
        }

    .group-btn .menu {
        cursor: pointer;
    }

.menu-toggle {
    display: none;
}

.dropdown i{
    color:black;
}

@media (max-width: 1000px) {
    .menu-toggle {
        display: block;
    }
    .menu-toggle i {
        color: #AB82FF;
    }
       

    .search {
        display: none;
        visibility: hidden;
    }

    .main-menu {
        display: none;
        visibility: hidden;
    }

    .menu-toggle {
        position: absolute;
        font-size: 40px;
        display: flex;
        right: 20px;
        top: 20px;
    }

        .menu-toggle:hover .dropdown-menu {
            display: block;
        }

    .dropdown-menu {
        text-align: center;
        display: none;
        position: absolute;
        top: 100%;
        color: black;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 24px;
        right: 20px;
        left: auto;
    }

        .dropdown-menu li:hover {
            opacity: 0.8;
            border: 1px solid black;
            border-radius: 10px;
            background: #ccc;
        }

        .dropdown-menu li a {
            color: black;
            text-decoration: none;
        }

        .dropdown-menu .parent-menu {
            position: relative;
        }


        .dropdown-menu .sub-menu {
            display: none;
            position: relative;
            border-radius: 10px;
            background-color: #F5FFFA;
            padding: 5px 0;
            border: 1px solid #ccc;
            width: 100%;
        }


        .dropdown-menu .parent-menu:hover .sub-menu {
            display: block;
        }


        .dropdown-menu .sub-menu li {
            margin: 0;
        }

            .dropdown-menu .sub-menu li:hover {
                background-color: #f0f0f0;
            }

    .dropdown-item {
        border-radius: 10px;
    }
}
