﻿/*body landing page */
body .introduce-of-company {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.slideshow {
    width: 100%;
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
    z-index: 1;
}

.image-list {
    display: flex;
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.1s;
}

    .image-list img {
        width: 2000px;
        max-width: 100vw;
        height: 90%;
        object-fit: cover;
        display: block;
    }


.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 100;
}


    .text-box h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

.btn {
    display: inline-block;
    padding: 12px 34px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .btn:hover {
        border: 1px solid #f44336;
        color: #fff;
        background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
        transition: 1s;
    }

.table-of-info {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .table-of-info ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .table-of-info ul li a {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 24px;
            color: #ffcc66;
        }

            .table-of-info ul li a span {
                font-size: 28px;
                padding: 20px 0 0 0;
                color: black;
            }
@media screen and (max-width: 1000px) {
    .text-box {
        width: 400px;
    }

        .text-box h1 {
            font-size: 42px;
        }

    .btn {
        padding: 5px;
        font-size: 20px;
    }

    .table-of-info {
        width: 85%;
        padding: 10px;
        bottom: 15px;
    }

        .table-of-info ul li a {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 20px;
            color: #ffcc66;
        }

            .table-of-info ul li a span {
                font-size: 28px;
                color: black;
            }
}

@media screen and (max-width: 768px) {
    .text-box {
        width: 400px;
    }

        .text-box h1 {
            font-size: 36px;
        }

    .btn {
        padding: 5px;
        font-size: 16px;
    }

    .table-of-info {
        width: 95%;
        padding: 10px;
        bottom: 10px;
    }

        .table-of-info ul li a {
            font-size: 14px;
        }

            .table-of-info ul li a span {
                font-size: 20px;
            }
}

@media screen and (max-width: 500px) {
    .text-box {
        width: 300px;
    }

        .text-box h1 {
            font-size: 32px;
        }

    .btn {
        padding: 5px;
        font-size: 14px;
    }

    .table-of-info {
        width: 95%;
        padding: 5px;
        bottom: 10px;
    }

        .table-of-info ul li a {
            font-size: 12px;
        }

            .table-of-info ul li a span {
                font-size: 16px;
            }
}


/*target*/
.target-box {
    position: relative;
}
/*
.container {
    width: 80%;
    margin: auto;
}
*/
.container-slogan {
    border: 1px solid #6c241c;
    border-radius: 10px;
    background-color: #263a53;
    padding: 30px;
    text-align: center;
    color: #fff;
}

    .container-slogan h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .container-slogan span {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .container-slogan p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .container-slogan button {
        padding: 12px 34px;
        font-size: 18px;
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .container-slogan button:hover {
            border: 1px solid #f44336;
            background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
            transition: 1s;
        }

.container-target {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.target {
    flex: 1;
    border: 1px solid #6c241c;
    border-radius: 10px;
    background-color: #263a53;
    padding: 20px;
    text-align: center;
    color: #fff;
    transition: transform 0.3s ease;
}

    .target:hover {
        transform: translateY(-5px);
    }

    .target h6 {
        font-size: 20px;
        margin-bottom: 10px;
    }


@media screen and (max-width: 1000px) {

    .container-slogan {
        padding: 20px; 
    }

        .container-slogan h1 {
            font-size: 28px; 
        }

        .container-slogan span {
            font-size: 20px; 
        }

        .container-slogan p {
            font-size: 14px; 
        }

        .container-slogan button {
            padding: 10px 20px; 
            font-size: 16px;
        }
    .container-target {
        flex-direction: row;
    }
        .target h6 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .target p {
            font-size: 14px;
        }
}

@media screen and (max-width: 768px) {
    .container-slogan {
        padding: 15px;
    }

        .container-slogan h1 {
            font-size: 24px; 
        }

        .container-slogan span {
            font-size: 16px; 
        }

        .container-slogan p {
            font-size: 12px;
        }

        .container-slogan button {
            padding: 8px 16px; 
            font-size: 12px; 
        }

        .target h6 {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .target p {
            font-size: 12px;
        }
}

@media screen and (max-width: 500px) {
    .container-target {
        flex-direction: column; 
    }

    .target {
        width: 80%;
        margin:auto;
    }
}
.legal-field {
    background-color: #f0f0f0;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

    .legal-field h3 {
        font-size: 42px;
        padding: 5px;
        text-align: center;
        margin-bottom: 40px;
        border-bottom: 2px solid #ccc;
    }

.fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.field {
    background-color: #fff;
    height: 150px;
    margin: 0 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    .field img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s ease;
    }

    .field:hover img {
        transform: scale(1.2);
    }

    .field span {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        border-radius: 5px;
    }
@media screen and (max-width: 1000px) {

    .fields {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        gap: 30px;
    }

    .field {
        height: 100px;
        width: 150px;
    }


        .field span {
            font-size: 10px;
        }
}

@media screen and (max-width: 768px) {

    .fields {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        gap: 30px;
    }
    .field {
        height: 75px;
        width:105px;
    }


        .field span {
            font-size: 8px;
        }
}

@media screen and (max-width: 500px) {
    .fields {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
        gap: 10px;
    }

    .field {
        height: 55px;
        width: 85px;
    }


        .field span {
            font-size: 8px;
        }
}
.container-module-post {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

    .container-module-post h3 {
        text-align: center;
        font-size: 42px;
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 20px;
}

.module-service {
    flex: 1;
}

    .module-service h4 {
        font-size: 28px;
        color: #6c241c;
        margin-bottom: 10px;
    }

.post {
    display: flex;
    border: 1px solid #6c241c;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    width: 350px;
    padding: 10px;
    height: 200px;
    background-color: #fff;
    cursor: pointer;
}

    .post:hover {
        transform: scale(1.1);
    }

    .post .date-post {
        display: flex;
        width: 100px;
        align-items: center;
    }

        .post .date-post .box-pencel {
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: 1px dashed black;
            border-radius: 50%;
            margin-right: 10px;
        }

        .post .date-post .box-date {
            font-size: 14px;
            color: #6c241c;
        }

            .post .date-post .box-date strong {
                display: block;
                font-size: 24px;
                color: #333;
            }

            .post .date-post .box-date span {
                display: block;
                font-size: 14px;
                color: #666;
            }

    .post .content {
        margin: 5px;
        padding: 5px;
        width: 225px;
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        transition: max-height 0.3s ease;
    }

        .post .content:hover {
            overflow: auto;
        }

        .post .content::-webkit-scrollbar {
            width: 5px;
            background-color: #fff;
            border-radius: 10px;
        }

        .post .content::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #00acf5;
            background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent );
        }

            .post .content::-webkit-scrollbar-thumb:hover {
                background: #008bc5;
            }

        .post .content::-webkit-scrollbar-track {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background: #fff 0% 0% repeat scroll;
        }

        .post .content h6 {
            font-size: 20px;
            color: #6c241c;
            margin-bottom: 10px;
        }

        .post .content p {
            font-size: 16px;
            color: #333;
            margin-bottom: 0;
        }

.lawyer-composition {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

    .lawyer-composition h3 {
        font-size: 42px;
        margin: 5px;
        text-align: center;
    }

.lawyer-in-company {
    display: flex;
    gap: 20px;
    padding: 30px;
    border-top: 1px solid #6c241c;
    position: relative;
}

    .lawyer-in-company::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 20%;
        transform: translate(-50%, -50%);
        height: 2px;
        background-color: #f44336;
    }

.lawyer {
    width: 25%;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 20px;
}

    .lawyer:hover {
        transform: scale(1.1);
    }

    .lawyer img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 3px solid #6c241c;
    }

    .lawyer h5 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
    }

    .lawyer p {
        font-size: 16px;
        margin-bottom: 20px;
        color: #666;
    }

.social-network {
    margin-bottom: 20px;
}

    .social-network a {
        margin: 0 10px;
        color: #ccc;
        font-size: 20px;
        transition: color 0.3s ease;
    }

        .social-network a:first-child:hover {
            color: #3399ff;
        }

        .social-network a:nth-child(2):hover {
            color: #1ab7ea;
        }

        .social-network a:last-child:hover {
            color: #1ab7ea;
        }

.lawyer-composition button {
    position: absolute;
    right: 20px;
    bottom: 5px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .lawyer-composition button:hover {
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
    }

.lawyer-composition a {
    color: #666;
}

.feedbacks {
    margin-top: 40px;
    padding: 20px;
}

    .feedbacks .title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

        .feedbacks .title h3 {
            font-size: 42px;
            padding: 5px;
            border-bottom: 1px solid black;
        }

.top-feedback {
    position: relative;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.feelback {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 280px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

#feedback1 {
    animation: turnAround 12s infinite 0s;
}

#feedback2 {
    animation: turnAround 12s infinite 4s;
}

#feedback3 {
    animation: turnAround 12s infinite 8s;
}

@keyframes turnAround {
    0%, 100% {
        opacity: 1;
    }

    33.3%, 50%, 66.6%, 75% {
        opacity: 0;
    }
}

.feelback .star ul {
    padding: 0;
    margin: 0;
}

    .feelback .star ul li {
        display: inline;
    }

        .feelback .star ul li i {
            color: #f8d053;
        }

.feelback p {
    margin-top: 10px;
    font-size: 20px;
}

.feelback span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #f8d053;
    font-size: 24px;
}

.dots {
    margin-top: 20px;
    text-align: center;
}

    .dots ul {
        padding: 0;
        margin: 0;
        justify-content: center;
        display: flex;
    }

        .dots ul li {
            width: 30px;
            height: 30px;
            border: 1px solid #999;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
        }

            .dots ul li:hover {
                transform: scale(1.1);
            }

            .dots ul li i {
                color: #999;
                font-size: 24px;
            }

.feedbacks .title button {
    position: absolute;
    right: 20%;
    width: 100px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .feedbacks .title button:hover {
        background-color: #0056b3;
    }
