﻿
/*body lawyer*/
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.our-team {
    width: 90%;
    margin: auto;
}

    .our-team h3 {
        text-align: center;
        margin: 20px;
        font-size: 64px;
        font-weight: 100;
        padding: 20px;
        border-bottom: 1px solid #ffcc66;
    }



.lawyer {
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    border-bottom: 1px solid #ffcc66;
    overflow: hidden;
    position: relative;
    transition: 0.5s ease;
}

    .lawyer:hover {
        border: 1px solid #ccc;
        border-radius: 20px;
    }

    .lawyer img {
        width: 350px;
        height: 450px;
        border: 1px solid black;
        border-radius: 20px;
        cursor: pointer;
        overflow: hidden;
    }

        .lawyer img:hover {
            transform: scale(1.1);
        }

.the-info {
    padding: 10px;
    width: 60%;
    margin: 0 auto;
}

    .the-info h6 {
        margin-bottom: 10px;
        font-size: 24px;
        color: #f8d053;
    }

    .the-info span {
        display: block;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 400;
        color: black;
    }

    .the-info p {
        margin-bottom: 20px;
        font-size: 24px;
        color: #6c757d;
    }

    .the-info a {
        margin-bottom: 10px;
        font-size: 24px;
        color: black;
    }
/* .social {
  display: flex;
} */
.social a {
    display: inline-block;
    margin-right: 20px;
    color: #ccc;
    transition: color 0.3s ease-in-out;
}

    .social a:hover {
        color: #007bff;
    }

.lawyer button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* CSS styles for mobile devices */
@media only screen and (max-width: 600px) {
    .lawyer {
        flex-direction: column; /* Change the direction of flexbox to column */
    }

        .lawyer img {
            width: 350px;
            height: 450px;
            border: 1px solid black;
            border-radius: 20px;
            cursor: pointer;
            overflow: hidden;
        }

    .the-info {
        width: 100%; /* Set width to 100% */
    }

        .the-info span {
            font-size: 32px; /* Decrease font size for smaller screens */
        }

        .the-info p {
            font-size: 24px; /* Decrease font size for smaller screens */
        }
        .src{
            display:none;
        }
}
