﻿
.our-team {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lawyers-container,
.lawyers {
    overflow-x: auto;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: ew-resize;
}

.table td {
    vertical-align: middle;
}

.table th {
    background-color: #6c757d;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}


.no-lawyers {
    margin-top: 20px;
    font-style: italic;
    color: #6c757d;
}

.btn-group {
    margin-top: 10px;
}

.our-team h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.our-team .btn-primary {
    margin-bottom: 20px;
}



.table {
    width: 100%;
    border-collapse: collapse;
}

    .table thead th {
        background-color: #343a40;
        color: #fff;
        padding: 10px;
        text-align: left;
    }

    .table tbody tr {
        border-bottom: 1px solid #dee2e6;
    }

    .table td {
        padding: 10px;
    }

    .table img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .table .btn {
        padding: 5px 10px;
    }

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    margin-left: 10px;
}


    .btn-primary:hover {
        background-color: #6c757d;
        border-color: #6c757d;
    }

.no-lawyers {
    margin-top: 20px;
    font-style: italic;
    color: #6c757d;
}

.btn-group {
    margin-top: 10px;
}


    .btn-group .btn:hover {
        opacity: 0.8;
    }

.form-control {
    width: 200px;
    display: inline-block;
}

.form-group label {
    font-weight: bold;
    margin-right: 10px;
}

 .src {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

    .src input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: calc(100% - 50px);
        outline: none;
        border: none;
        background: #f8f3;
        padding-left: 50px;
        font-size: 15px;
        color: #000000;
        border-radius: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
    }

     .src .bx-search {
        position: absolute;
        z-index: 99;
        font-size: 22px;
        color: #ffffff;
        transition: all 0.5s ease;
    }

         .src .bx-search:hover {
            color: #0b2987;
        }

            .src .bx-search:hover ~ input {
                background: #ffffff;
            }



