﻿* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    min-width: 1200px;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    background: #e7e9f5;
}

.Page {
    display: flex;
    gap: 20px;
    position: relative;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.stateBar {
    position: relative;
    width:20%;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: #f5fffa;
    padding: 6px 16px;
    border-radius: 0 20px 20px 0;
    box-shadow: 5px 0 30px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
    overflow: hidden;
}

    .sidebar.active {
        width: 30px;
        height: 30px;
        background: #f5fffa;
        padding: 5px 10px;
        border-radius: 0 10px 0px 10px;
        box-shadow: 5px 0 30px rgba(0,0,0, .1);
    }

    .sidebar .logo_content .logo {
        display: flex;
        color: #0b2997;
        height: 50px;
        width: 200px;
        font-size: 30px;
        margin-left: 5px;
        
        align-items: center;
        transition: 0.3s;
        opacity: 1;
    }

    .sidebar.active .logo_content .logo {
        opacity: 0;
    }

    .sidebar .logo_content .logo .logo_name {
        font-size: 26px;
        font-weight: 700;
        margin: 0 10px;
        cursor:pointer;
    }

    .sidebar #btn {
        position: absolute;
        color: #b3b3b3;
        left: 85%;
        top: 6px;
        height: 50px;
        width: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        transform: translate(-50%);
    }

    .sidebar.active #btn {
        position: absolute;
        color: black;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .sidebar .src {
        position: relative;
        height: 50px;
        width: 100%;
        margin-top: 20px;
    }

        .sidebar .src input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(100% - 50px);
            outline: none;
            border: none;
            background: #f8f3;
            padding-left: 50px;
            font-size: 15px;
            color: #000000;
            border-radius: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
        }

        .sidebar .src .bx-search-alt-2 {
            position: absolute;
            z-index: 99;
            font-size: 22px;
            color: #ffffff;
            transition: all 0.5s ease;
        }

            .sidebar .src .bx-search-alt-2:hover {
                color: #0b2987;
            }

        .sidebar .src .bx-search-alt-2bx-search-alt-2:hover ~ input {
            background: #ffffff;
        }

    .sidebar i {
        height: 50px;
        min-width: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        border-radius: 12px;
    }

    .sidebar ul {
        margin-top: 40px;
    }

        .sidebar ul li {
            position: relative;
            height: 50px;
            width: 100%;
            margin: 20px;
            list-style: none;
            line-height: 50px;
        }

            .sidebar ul li a {
                color: #b3b3b3;
                display: flex;
                text-decoration: none;
                align-items: center;
                border-radius: 20px;
                font-size: 13px;
                white-space: nowrap;
                transition: all 0.4s ease;
            }

                .sidebar ul li a:hover {
                    color: #0b2997;
                    background: #e7e9f5;
                }

    .sidebar .link_name {
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;
    }

    .sidebar.active .link_name {
        pointer-events: auto;
        opacity: 0;
    }

    .sidebar ul li .tooltip {
        position: absolute;
        left: 130px;
        top: 0;
        transform: translate(-45%, -50%);
        border-radius: 10px;
        height: 38px;
        width: 130px;
        background: #ffffff;
        line-height: 35px;
        text-align: center;
        font-size: 15px;
        display: block;
        color: #242424;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        pointer-events: none;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .sidebar.active ul li .tooltip {
        display: none;
        opacity: 0;
    }

    .sidebar ul li:hover .tooltip {
        top: 50%;
        opacity: 1;
    }

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% = 300px);
    left: 80px;
    transition: all 0.5s ease;
}

    .home_content .text {
        font-size: 25px;
        font-weight: 500;
        color: #242424;
        padding: 12px 24px;
    }

.sidebar.active ~ .home_content {
    left: 300px;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44336;
    width: 80%;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .logout-button:hover {
        background-color: #d32f2f; 
    }

    .logout-button .bi {
        margin-right: 5px; 
    }

.profile-image {
    text-align: center;
    margin-top: 20px;
}

    .profile-image img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
.mainBar {
    width: 80%;
    padding:50px;
}