@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: Judson, sans-serif;
    background: #fdf5e6;
}

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: #fff 0% 0% repeat scroll;
    }

    body::-webkit-scrollbar {
        width: 8px;
        background-color: #fff;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #00acf5;
        background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent );
    }

        body::-webkit-scrollbar-thumb:hover {
            background: #008bc5;
        }

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header i {
    color: white;
}


body footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #ccc;
    text-align: center;
}



@media only screen and (max-width: 768px) {
    .top-area-inner .widget-holder-left {
        visibility: hidden;
    }
}
