﻿﻿ *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Poppins', sans-serif;
    --main-color: #fff;
    --secondary-color: #9C9C9C;
    --main-background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    --highlight-color: #a37f7f;
    --primary-btn-border: 1px solid #f44336;
}

body {
    background: url('../Images/b2.jpg');
    background-size: cover;
    background-position: center;
}

/* Login Wrapper */
.login-wrapper {
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: auto; /* Set height to auto */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, height 0.2s ease;
    z-index: 1;
}

    .login-wrapper.active {
        height: auto; /* Set height to auto */
    }

    .login-wrapper .login {
        transition: transform 0.18s ease;
        transform: translateX(0);
    }

    .login-wrapper.active .login {
        transition: none;
        transform: translateX(-400px);
    }

    .login-wrapper .register {
        position: absolute;
        transition: none;
        transform: translateX(400px);
    }

    .login-wrapper.active .register {
        transition: transform 0.18s ease;
        transform: translateX(0);
    }


    .login-wrapper .login {
        width: 100%;
        padding: 40px;
    }

    .login-wrapper h2 {
        font-size: 2em;
        color: var(--main-color);
        text-align: center;
        margin-bottom: 20px;
    }

/* Input Box */
.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: var(--main-color);
        font-weight: 500;
        pointer-events: none;
        transition: 0.5s;
    }

    .input-box input {
        width: 100%;
        height: 40px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: var(--main-color);
        font-weight: 600;
        padding: 0 5px;
        border-bottom: 2px solid #ddd;
    }

    /* Add this rule */
    .input-box label {
        top: -20px;
        font-size: 0.9em;
        color: white;
    }

    .input-box .icon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2em;
    }

.form-group label {
    color: white;
}
/* Button login/register */
.btn {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #fcc;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    border-radius: 30px;
    transition: 0.5s;
}

    .btn:hover {
        background: var(--primary-btn-border);
        border: 1px solid #f44336;
    }

/* Login-Register */
.login-register {
    font-size: 0.9em;
    text-align: center;
    margin-top: 20px;
}

    .login-register p {
        color: #f6f8f3;
        margin-bottom: 10px;
    }

        .login-register p a {
            color: #3636f4;
            text-decoration: none;
        }

            .login-register p a:hover {
                text-decoration: underline;
            }
