﻿
:root {
    --main-font: 'Poppins', sans-serif;
    --main-color: #fff;
    --secondary-color: #9C9C9C;
    --main-background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    --highlight-color: #a37f7f;
    --primary-btn-border: 1px solid #f44336;
}
.container {
    width:80%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 10, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}
.card{
    width:80%;
    margin:auto;
}
/* Input Box */
.form-floating {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

    .form-floating label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: var(--main-color);
        font-weight: 500;
        pointer-events: none;
        transition: 0.5s;
    }

    .form-floating input {
        width: 100%;
        height: 40px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: var(--main-color);
        font-weight: 600;
        padding: 0 5px;
        border-bottom: 2px solid #ddd;
    }

        .form-floating input:focus ~ label,
        .form-floating input:valid ~ label {
            top: -20px;
            font-size: 0.9em;
            color: white;
        }

    .form-floating .icon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2em;
    }
