﻿﻿ /* Index */
/* body */
body {
    font-family: Arial, sans-serif; /* Thay đổi font chữ mặc định */
    margin: 0;
    padding: 0;
}


/* Chỉnh lại chữ Forum để căn giữa */
h1 {
    text-align: center;
    position: center;
    color: #40bde0f7
}






.content-container {
    background-color: #87622e2e;
}

.table-container {
    margin: 0 auto;
}

/* Đóng khung cho mỗi post và cách nhau một khoảng */
.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px; /* Điều chỉnh kích thước chữ */
    font-weight: bold; /* Định dạng chữ in đậm */
    max-width: 100px;
}

.post-content {
    font-size: 24px; /* Điều chỉnh kích thước chữ */
    font-weight: bold; /* Định dạng chữ in đậm */
}

.post-author {
    font-size: 24px; /* Điều chỉnh kích thước chữ */
    font-weight: bold; /* Định dạng chữ in đậm */
}
/* Index */





/* DetailPost */

h2 {
    text-align: center;
    position: center;
    color: #40bde0f7
}

.post-info {
    font-weight: bold;
    font-size: 20px;
}

/* CSS for Add Comment form */
.add-comment-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

    .add-comment-container label {
        font-weight: bold;
    }

    .add-comment-container textarea {
        width: 100%;
        min-height: 100px;
        resize: vertical;
        margin-top: 5px;
    }

    .add-comment-container button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

        .add-comment-container button:hover {
            background-color: #0056b3;
        }

/* DetailPost */







/* Create Post */

/* CSS for Create New Post form */

/* Container */
.create-post-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #68946b1c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title */
.create-post-title {
    text-align: center;
    color: #1f5966ab;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Labels */
.create-post-label {
    display: block;
    margin-bottom: 10px;
    color: #666;
    font-weight: bold
}

/* Inputs */
.create-post-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Image input */
#create-post-image {
    margin-bottom: 15px;
}

/* Image preview */
#create-post-image-preview {
    display: none;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 15px;
}

/* Button */
#create-post-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

    #create-post-button:hover {
        background-color: #0056b3;
    }

/* Create Post */

