﻿﻿@{

}
@section CustomStyles {
    <link href="~/css/header1.css" rel="stylesheet" />
    <link href="~/css/AboutUs.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
}




<section class="breadcrumb-area">
    <div class="breadcrumb-text-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb-text text-center">
                        <h1>About us</h1>
                        <ul class="breadcrumbs">
                            <li><a href="#">Home</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mission-vision-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="mission-vision-left-img">
                    <img src="img/vision-left.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mission-vision-text">
                    <div class="section-title">
                        <span>Working Since 1989</span>
                        <h2><span>Our Mission and vision</span></h2>
                    </div>
                    <p>Welcome to Thien Y Law Firm - where legal excellence meets commitment! We take pride in being one of the leading law firms, with a mission to provide high-quality and diverse legal services. <br /><br />At Thien Y Law Firm, we understand that each legal issue is unique and requires personalized attention. Our team of lawyers not only has extensive experience but also listens attentively and understands the needs of each client. We are committed to providing the smartest and most effective legal solutions to protect the rights and meet the goals of our clients. <br /><br /> Thien Y Law Firm specializes not only in corporate legal issues but also has experience in assisting individuals in resolving personal legal matters. We believe that every client deserves the best legal advice and support, and that's our commitment. <br />
                    <br />Let Thien Y Law Firm be your trusted partner on your legal journey, where every requirement is handled with utmost professionalism and dedication! </p>

                    <div class="mission-vision-signature">
                        <img src="~/Images/mission-vision-signature.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="mission-vision-right-img">
                    <img src="~/Images/mission-vision-right.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!--Start featured service Area 3-->
<section id="featured-services-area-3" class="anim-5-all">
    <div class="container">
        <div class="row">
            <div class="our-attorneys">
                <div class="section-title text-center">
                    <span>Our Practice Areas</span>
                    <h2><span>Our Co-Founder</span></h2>
                </div>
                <!--Start Single Attorney-->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <!-- Đảm bảo không có class col-xs-12 -->
                    <div class="single-attorney">
                        <div class="attorney-image-holder">
                            <img src="/Images/khanh.jpg" alt="" style="height:350px">
                            <div class="attorney-overlay">
                                <div class="phone-and-mail">
                                    <p>Phone: +84 383421918</p>
                                    <p>E-mail: luuquangkhanhit02@gmail.com</p>
                                </div>
                                <div class="attorney-ninus-icon">
                                    <img src="img/attorney-ninus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="attorney-plus-icon">
                                <img src="img/attorney-plus-icon.png" alt="">
                            </div>
                        </div>
                        <div class="attorney-name text-center">
                            <h5>Luu Quang Khanh</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--End Single Attorney-->
                <!--Start Single Attorney-->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <!-- Đảm bảo không có class col-xs-12 -->
                    <div class="single-attorney">
                        <div class="attorney-image-holder">
                            <img src="/Images/me.jpg" alt="" style="height:350px">
                            <div class="attorney-overlay">
                                <div class="phone-and-mail">
                                    <p>Phone: +84 833216274</p>
                                    <p>E-mail: tuonghutnh@gmail.com</p>
                                </div>
                                <div class="attorney-ninus-icon">
                                    <img src="img/attorney-ninus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="attorney-plus-icon">
                                <img src="img/attorney-plus-icon.png" alt="">
                            </div>
                        </div>
                        <div class="attorney-name text-center">
                            <h5>Huỳnh Công Tường</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--End Single Attorney-->
                <!--Start Single Attorney-->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <!-- Đảm bảo không có class col-xs-12 -->
                    <div class="single-attorney">
                        <div class="attorney-image-holder">
                            <img src="/Images/luan.jpg" alt="" style="height:350px">
                            <div class="attorney-overlay">
                                <div class="phone-and-mail">
                                    <p>Phone: +84 394118828</p>
                                    <p>E-mail: luanml0016@gmail.com</p>
                                </div>
                                <div class="attorney-ninus-icon">
                                    <img src="img/attorney-ninus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="attorney-plus-icon">
                                <img src="img/attorney-plus-icon.png" alt="">
                            </div>
                        </div>
                        <div class="attorney-name text-center">
                            <h5>Lê Duy Luân</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--End Single Attorney-->
                <!--Start Single Attorney-->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <!-- Đảm bảo không có class col-xs-12 -->
                    <div class="single-attorney">
                        <div class="attorney-image-holder">
                            <img src="/Images/duckhanh.jpg" alt="" style="height:350px">
                            <div class="attorney-overlay">
                                <div class="phone-and-mail">
                                    <p>Phone: +84 396824572</p>
                                    <p>E-mail: duckhanh.30903@gmail.com</p>
                                </div>
                                <div class="attorney-ninus-icon">
                                    <img src="img/attorney-ninus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="attorney-plus-icon">
                                <img src="img/attorney-plus-icon.png" alt="">
                            </div>
                        </div>
                        <div class="attorney-name text-center">
                            <h5>Nguyễn Đức Khánh</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--End Single Attorney-->
            </div>
        </div>
    </div>
</section>

<section id="lawer-information-area">
    <div class="container">
        <div class="row">
            <div class="lawyer-info">
                <!--Start Single lawyer info-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-lawyer-info">
                        <div class="fix lawyer-count alignleft">
                            <h1 class="timer" data-from="1" data-to="20" data-speed="5000" data-refresh-interval="50">20</h1>
                        </div>
                        <div class="fix lawyer-text">
                            <p style="color: orange;">Years of Experiences</p>
                        </div>
                    </div>
                </div>
                <!--End Single lawyer info-->
                <!--Start Single lawyer info-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-lawyer-info">
                        <div class="fix lawyer-count alignleft">
                            <h1 class="timer" data-from="989" data-to="1000" data-speed="5000" data-refresh-interval="100">1000+</h1>
                        </div>
                        <div class="fix lawyer-text">
                            <p style="color: orange;">Client</p>
                        </div>
                    </div>
                </div>
                <!--End Single lawyer info-->
                <!--Start Single lawyer info-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-lawyer-info">
                        <div class="fix lawyer-count alignleft">
                            <h1 class="timer" data-from="10" data-to="99" data-speed="5000" data-refresh-interval="50">98%</h1>
                        </div>
                        <div class="fix lawyer-text">
                            <p style="color: orange;">Wining Rate</p>
                        </div>
                    </div>
                </div>
                <!--End Single lawyer info-->
                <!--Start Single lawyer info-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-lawyer-info no-norder">
                        <div class="fix lawyer-count alignleft">
                            <h1 class="timer" data-from="10" data-to="100" data-speed="5000" data-refresh-interval="50">100+</h1>
                        </div>
                        <div class="fix lawyer-text">
                            <p style="color: orange;">Consultation Call Daily</p>
                        </div>
                    </div>
                </div>
                <!--End Single lawyer info-->

            </div>
        </div>
    </div>
</section>

<section id="case-evaluation-area" class="anim-5-all">
    <div class="container">
        <div class="case-evaluation-form">
            <div class="case-evaluation-form-title">
                <h1>LIÊN HỆ</h1><br />
                <h3 style="color: whitesmoke">Điền vào mẫu để nhận được tư vấn bí mật miễn phí</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <input type="text" id="customerName" placeholder="Full Name">
                </div>
                <div class="col-lg-4">
                    <input type="text" id="email" placeholder="E-mail">

                </div>
                <div class="col-lg-4">
                    <input type="text" id="phoneNumber" placeholder="Phone">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <textarea id="address" placeholder="Address"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea id="notes" placeholder="Notes"></textarea>
                </div>
            </div>

            <button type="button" onclick="submitForm()">Submit Now</button>
        </div>
    </div>
</section>

<script>
    function submitForm() {
        var customerName = $("#customerName").val();
        var email = $("#email").val();
        var phoneNumber = $("#phoneNumber").val();
        var address = $("#address").val();
        var notes = $("#notes").val();

        $.ajax({
            url: '/Home/SaveCustomer',
            type: 'POST',
            data: {
                customerName: customerName,
                email: email,
                phoneNumber: phoneNumber,
                address: address,
                notes: notes
            },
            success: function (response) {
                alert('Data submitted successfully!');
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                alert('Error occurred while submitting data.');
            }
        });
    }
</script>
