﻿@model List<New>
@{
    ViewData["Title"] = "Home Page";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/header2.css">
    <link rel="stylesheet" href="~/css/homePage.css">
}

<section class="introduce-of-company">
    <!-- image list -->
    <div class="slideshow">
        <div class="image-list">
            <div class="item">
                <img src="/images/page1.jpg" alt="Page 1" />
            </div>
            <div class="item">
                <img src="/Images/page5.jpg" alt="Page 2" />
            </div>
        </div>
    </div>
    <div class="text-box">
        <h1>Legal Consultancy Services</h1>
        <a asp-action="AboutUs" asp-controller="Home" class="btn">Visit us to know More</a>
    </div>
    <!-- table of info -->
    <div class="table-of-info">
        <ul>
            <li class="item">
                <a href="#">Years of Establishment<span class="menu-desc">20</span></a>
            </li>
            <li class="item">
                <a href="#">Clients<span class="menu-desc">1000+</span></a>
            </li>
            <li class="item">
                <a href="#">Winning Rate<span class="menu-desc">98%</span></a>
            </li>
            <li class="item">
                <a href="#">Consultation Calls Daily<span class="menu-desc">100+</span></a>
            </li>
        </ul>
    </div>
</section>
<section class="target-box">
    <div class="container">
        <!-- slogan -->
        <div class="container-slogan">
            <h1>REPUTABLE LEGAL SERVICES</h1>
            <span>What Should the Criteria Be?</span>
            <p>
                We are not just a reputable law firm; we are also a pioneering
                landmark in the field of law in Vietnam. Therefore, we always
                believe that each case, each matter that our law firm undertakes is
                not simply a job, but it is a lifetime, a career, a future of our
                clients. And because of that, each of us must strive to train
                ourselves to become professional lawyers.
            </p>
            <button>See Details</button>
        </div>
        <!-- skills have need -->
        <div class="container-target">
            <div class="target">
                <h6>EXCELLENT SKILLS</h6>
                <p>
                    We always look forward to collaborating with lawyers with the best
                    problem-solving skills possible.
                </p>
            </div>
            <div class="target">
                <h6>HIGH EXPERTISE</h6>
                <p>We always seek lawyers with high expertise in legal matters.</p>
            </div>
            <div class="target">
                <h6>DEDICATION & PASSION</h6>
                <p>
                    And always want to accompany lawyers with dedication and passion
                    for the profession.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="legal-field">
    <h3>Legal Field</h3>
    <div class="fields">
        <!-- field1 -->
        <div class="field">
            <img src="/images/civil-law.jpg" alt="" />
            <span>Civil Law</span>
        </div>
        <!-- field2 -->
        <div class="field">
            <img src="/images/Criminal-Law.jpg" alt="" />
            <span>Criminal Law</span>
        </div>
        <!-- field3 -->
        <div class="field">
            <img src="/images/Administrative-Law.jpg" alt="" />
            <span>Administrative Law</span>
        </div>
        <!-- field4 -->
        <div class="field">
            <img src="/images/Commercial-Law.jpg" alt="" />
            <span>Commercial Law</span>
        </div>
        <!-- field5 -->
        <div class="field">
            <img src="/images/Labor-Law.jpg" alt="" />
            <span>Labor Law</span>
        </div>
        <!-- field6 -->
        <div class="field">
            <img src="/images/Family-and-Marriage-Law.jpg" alt="" />
            <span> Family and Marriage Law</span>
        </div>
        <!-- field7 -->
        <div class="field">
            <img src="/images/Financial-and-Banking-Law.jpg" alt="" />
            <span>Financial and Banking Law</span>
        </div>
        <!-- field8 -->
        <div class="field">
            <img src="/images/Intellectual-Property-Law.jpg" alt="" />
            <span>Intellectual Property Law</span>
        </div>
        <!-- field9 -->
        <div class="field">
            <a href="#">
                <img src="/images/Nationality-and-Immigration-Law.jpg" alt="" />
                <span>Nationality and Immigration Law</span>
            </a>
        </div>
    </div>
</section>
<section class="container-module-post">
    <h3>Legal News</h3>
    <div class="services">

        <div class="module-service">
            @foreach (var newsItem in Model)
            {
                <h4>Legal Services</h4>
                <div class="post">
                    <div class="date-post">
                        <div class="box-pencel"></div>
                        <div class="box-date">
                            <strong>Date</strong>
                            <span>@newsItem.publishDate.ToString("yyyy-MM-dd")</span>
                        </div>
                    </div>
                    <div class="content">
                        <h6>@newsItem.title</h6>
                        <p>@newsItem.content</p>
                    </div>
                </div>
            }
        </div>
        <div class="module-service">
            @foreach (var newsItem in Model)
            {
                <h4>Articles</h4>
                <div class="post">
                    <div class="date-post">
                        <div class="box-pencel"></div>
                        <div class="box-date">
                            <strong>Date</strong>
                            <span>@newsItem.publishDate.ToString("yyyy-MM-dd")</span>
                        </div>
                    </div>
                    <div class="content">
                        <h6>@newsItem.title</h6>
                        <p>@newsItem.content</p>
                    </div>
                </div>
            }
        </div>
        <div class="module-service">
            @foreach (var newsItem in Model)
            {
                <h4>Recruitment</h4>
                <div class="post">
                    <div class="date-post">
                        <div class="box-pencel"></div>
                        <div class="box-date">
                            <strong>Date</strong>
                            <span>@newsItem.publishDate.ToString("yyyy-MM-dd")</span>
                        </div>
                    </div>
                    <div class="content">
                        <h6>@newsItem.title</h6>
                        <p>@newsItem.content</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- the hot lawyer in the company -->
<section class="lawyer-composition">
    <h3>Legal Representation</h3>
    <div class="lawyer-in-company">
        <!-- lawyer1 -->
        <div class="lawyer">
            <img src="/Images/person1.jpg" alt="Lawyer Image" />
            <h5>Lawyer Name</h5>
            <p>Lawyer Description</p>
            <p>Email: <a href="" type="mailto">abc@gmail.com</a></p>
            <p>Tel: <a href="" type="Tel">0123456789</a></p>
            <div class="social-network">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <!-- lawyer2 -->
        <div class="lawyer">
            <img src="/images/person1.jpg" alt="Lawyer Image" />
            <h5>Lawyer Name</h5>
            <p>Lawyer Description</p>
            <p>Email: <a href="" type="mailto">abc@gmail.com</a></p>
            <p>Tel: <a href="" type="Tel">0123456789</a></p>
            <div class="social-network">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></i></a>
            </div>
        </div>
        <!-- lawyer3 -->
        <div class="lawyer">
            <img src="/images/person1.jpg" alt="Lawyer Image" />
            <h5>Lawyer Name</h5>
            <p>Lawyer Description</p>
            <p>Email: <a href="" type="mailto">abc@gmail.com</a></p>
            <p>Tel: <a href="" type="Tel">0123456789</a></p>
            <div class="social-network">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></i></a>
            </div>
        </div>
        <!-- lawyer4 -->
        <div class="lawyer">
            <img src="/images/person1.jpg" alt="Lawyer Image" />
            <h5>Lawyer Name</h5>
            <p>Lawyer Description</p>
            <p>Email: <a href="" type="mailto">abc@gmail.com</a></p>
            <p>Tel: <a href="" type="Tel">0123456789</a></p>
            <div class="social-network">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
    <a asp-action="Lawyer" asp-controller="Home"><button>View More</button></a>
</section>
<!-- feelback of customer -->
<section class="feedbacks">
    <div class="title">
        <h3>Feelback and Comment</h3>
        <a href="#"><button>Evaluate</button></a>
    </div>
    <div class="top-feedback">
        <div class="feelback" id="feedback1">
            <div class="star">
                <ul>
                    <li><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star"></i></li>
                </ul>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste,
                ducimus quod non quae assumenda labore inventore asperiores quam
                magni nobis neque veritatis laudantium consectetur itaque, sunt
                ipsum consequatur dolorem eos!
            </p>
            <span>Author1</span>
        </div>
        <div class="feelback" id="feedback2">
            <div class="star">
                <ul>
                    <li><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star"></i></li>
                    <li><i class="bi bi-star"></i></li>
                </ul>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste,
                ducimus quod non quae assumenda labore inventore asperiores quam
                magni nobis neque veritatis laudantium consectetur itaque, sunt
                ipsum consequatur dolorem eos!
            </p>
            <span>Author2</span>
        </div>
        <div class="feelback" id="feedback3">
            <div class="star">
                <ul>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                </ul>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste,
                ducimus quod non quae assumenda labore inventore asperiores quam
                magni nobis neque veritatis laudantium consectetur itaque, sunt
                ipsum consequatur dolorem eos!
            </p>
            <span>Author3</span>
        </div>
    </div>
    <div class="dots">
        <ul>
            <li><i class="bi bi-dot"></i></li>
            <li><i class="bi bi-dot"></i></li>
            <li><i class="bi bi-dot"></i></li>
        </ul>
    </div>
</section>
<footer class="border-top" style="background-color: black; color: white;">
    <div class="container">
        &copy; 2024 - DoAnWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white;">Privacy</a>
    </div>
</footer>