﻿@model List<Employee>
@section CustomStyles {
    <link rel="stylesheet" href="~/css/header1.css">
    <link rel="stylesheet" href="~/css/lawyerPage.css">
}
<style>
    .src {
        position: absolute;
        left:100px;
        height: 40px;
        width: 350px;
        margin-top: 40px;
    }

        .src input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(100% - 50px);
            outline: none;
            border: none;
            background: #f8f3;
            padding-left: 50px;
            font-size: 15px;
            color: #000000;
            border-radius: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
        }

        .src .bx {
            line-height: 1.8;
        }


    i {
        height: 50px;
        min-width: 50px;
        text-align: center;
        font-size: 25px;
        border-radius: 12px;
    }
}
</style>
@{
    var currentYear = DateTime.Now.Year;

}
@if (Model != null && Model.Any())
{
    
    <div class="our-team">
        <form id="searchForm" class="src">
            @* <label for="searchTerm">Tìm kiếm:</label> *@
            <i class="bx bx-search-alt-2"></i>
            <input type="text" id="searchTerm" placeholder="Nhập từ khóa...">
        </form>
        <h3>Our team</h3>

        <div class="lawyers">
            @foreach (var lawyer in Model)
            {
                <div class="lawyer" id="lawyerList">
                    @{
                        string imageUrl = lawyer.ImageUrl;
                        if (!string.IsNullOrEmpty(imageUrl) && (imageUrl.StartsWith("http://") || imageUrl.StartsWith("https://")))
                        {
                            <img src="@imageUrl" alt="" />
                        }
                        else
                        {
                            <img src="@Url.Content(imageUrl)" alt="" />
                        }
                    }
                    <div class="the-info">
                        <h6>Vision makes us who we are</h6>
                        <span>@lawyer.FullName</span>
                        <p>Consulting field: <strong>@lawyer.Expertise</strong></p>
                        <p>Practical experience: <strong>@(currentYear - lawyer.commencementDate.Value.Year)</strong> years</p>
                        <p>Tel: <a href="tel:@lawyer.PhoneNumber">@lawyer.PhoneNumber</a></p>
                        <p>Mail: <a href="mailto:@lawyer.Email">@lawyer.Email</a></p>
                        <div class="social">
                            <p>Social :</p>
                            <a href="@(lawyer.facebookURL != null ? lawyer.facebookURL : "#")">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="@(lawyer.twitterURL != null ? lawyer.twitterURL : "#")">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="@(lawyer.instagramURL != null ? lawyer.instagramURL : "#")">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </div>
                        <div class="function">
                            <a asp-action="DownloadAllInfo" asp-controller="Lawyer" asp-route-id="@lawyer.employeeId">
                                <button>Download</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Không có luật sư nào được tìm thấy.</p>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchTerm").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".lawyer").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
